{% extends 'base.html.twig' %}

{% block title %}Hello CatController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Cat Profil</th>
    </tr>

    {% for cat in cats %}
        <tr>
            <td>{{ cat.nickname }}</td>
        </tr>
    {% else %}
        <tr>
            <td>Aucun profil</td>
        </tr>
    {% endfor %}
</table>  
{% endblock %}
