{% extends 'base.html.twig' %}

{% block title %}Hello CatController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Cat Profil</th>
    </tr>

    {% for cat in cats %}
        <tr>
            <td>
            <a href="{{ path('app_cats_show', {id: cat.id}) }}">{{ cat.nickname }}</a> 
            </td>
        </tr>
    {% else %}
        <tr>
            <td>Aucun profil</td>
        </tr>
    {% endfor %}
</table>  
{% endblock %}
