{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Username</th>
    </tr>

    {% for user in users %}
        <tr>
            <td> 
                <a href="{{ path('app_users_show', {id: user.id}) }}">{{ user.username }}</a> 
            </td>
        </tr>
    {% else %}
        <tr>
            <td>Aucun utilisateur</td>
        </tr>
    {% endfor %}
</table>  
{% endblock %}
